html {
  background-color: rgb(46, 46, 46);
}

body {
  margin: 5%;
  background-color: rgb(46, 46, 46);
  color: rgb(235, 235, 235);
}

#tittle-bar {
  display: inline;
  width: 100%;
}

#page-tittle {
  float: left;
  width: 60%;
}

#menu-button {
  float: right;
  text-align: right;
  padding: 2px;
}

#menu-button:hover {
  cursor: pointer;
  color: rgb(100, 100, 100);
  transition-duration: 0.5s;
}

#games-table_wrapper * {
  color: rgb(235, 235, 235);
}

#games-table_length {
  text-align: right;
  float: right;
  width: 40%;
}

#games-table_length select {
  color: black;
}

#games-table_length select option {
  color: black;
}

#games-table_filter {
  float: left;
  width: 40%;
}

#games-table_filter input {
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(85, 85, 85);
  color: rgb(235, 235, 235);
  margin: 0px 5px;
}

#games-table * {
  border-style: none;
  color: rgb(223, 223, 223);
  font-weight: bold;
}

#games-table thead {
  border-bottom: 2px solid black;
  font-size: 25px;
  padding: 15px 5px;
}

#tableBody tr:hover * {
  background-color: rgb(100, 100, 100);
  transition-duration: 0.2s;
  cursor: default;
}

#games-table td {
  padding: 15px 5px;
}

#games-table tr:nth-child(even) {
  background-color: rgb(56, 56, 56);
}

#games-table_info {
  text-align: right;
  float: right;
  width: 30%;
}

.games-table_paginate {
  color: rgb(235, 235, 235);
}

.paginate_button {
  padding: 10px;
  margin: 5px;
}

.paginate_button:hover {
  cursor: pointer;
}

#games-table_paginate a {
  text-decoration: none;
  color: white;
}

#games-table_paginate a:hover {
  border-bottom: 2px solid;
}
#games-table_paginate span .current {
  border-bottom: 2px solid;
}

#background-descricao {
  display: none;
  background-color: rgba(85, 85, 85, 0.45);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.sidebar {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.sidebar-info {
  width: 50%;
  height: fit-content;
  margin: auto;
  margin-left: 20%;
  background-color: rgb(100, 100, 100);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.61) 0px 5px 15px;
}

.sidebar-info h1 {
  background-color: rgb(100, 100, 100);
  font-size: 50px;
  margin: 0;
  border-bottom: 1px solid;
}

.sidebar-info p,
h3 {
  margin: 0 0 15px 0;
}

#fechar-btn {
  float: right;
  cursor: pointer;
  text-align: center;
  width: 7%;
  color: black;
}

#fechar-btn:hover {
  color: rgb(138, 138, 138);
  transition-duration: 0.5s;
}
